## Default: 0.19.6
UV_IMAGE_VER=
## Default: 3.14-slim
PYTHON_IMG_VER=
## Default: Etc/UTC
TZ=
## Default: INFO
LOG_LEVEL=
## Default: false
USE_HTTP_CACHE=
## Default: 3600
CACHE_TTL=
## Default: false
SAVE_SCRAPES_HTML=
## Default: false
SAVE_SCRAPES_TO_DB=
## Default: "0 * * * *"
SCRAPE_SCHEDULE=
## Default: (named volume) farmrpg_logs
LOGS_DIR=
## Default: (named volume) farmrpg_db
DB_DIR=
